
src/ConferencesManagement/.vs/ConferencesManagement/v15/.suo
src/ConferencesManagement/Models/App.config
src/ConferencesManagement/ConferencesManagement/Web.config
src/ConferencesManagement/Models/App.config
