
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main Content -->

<div id="content">


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <hr />
        <h3>Event Management Dashboard</h3>
        <hr />

        <!--chi tiet hoi thao-->
        @{Html.RenderAction("HoiThaoDetail", "Home");}

        <!-- Speakers -->
        @{Html.RenderAction("DsVe", "Home");}
        <!-- Speakers -->
        @{Html.RenderAction("SpeakerMenu", "Home");}

        <!--Topic-->
        @{Html.RenderAction("TopicMenu", "Home");}

        <!--schedule-->
        @{ Html.RenderAction("ScheduleMainMenu", "Home");}

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
