@model Models.Framework.Contact
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .customTextArex{
        height:100px;
        width:600px;
    }

</style>

@section HomeHeader
    {
    <head>
        <title>Liên hệ</title>

        <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/contact.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/contact_responsive.css">
    </head>
}

@*<style>
        #mapCanvas {
            width: auto;
            height: auto;
        }
    </style>*@

@section    JsFooter{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs-bLRiGtKORZUkEGwbQs5fjsUWIY4WO0">
    </script>

    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.

        function initMap() {
            var uluru = { lat: 10.870026, lng: 106.803607 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 15,
                center: uluru
            });

            var contentString = 'Công ty';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
   
    <script src="/Assets/Client/js/Controller/contactController.js"></script>
}



<!-- Menu -->

<div class="menu">
    <div class="menu_container">
        <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="menu_content d-flex flex-column align-items-center justify-content-start">
            <nav class="menu_nav">
                <ul class="d-flex flex-column align-items-center justify-content-start">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu_social">
            <div class="social">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Assets/Client/images/contact_page.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title"><h1>Liên Hệ</h1></div>
                        <div class="breadcrumbs">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="index.html">Home</a></li>
                                <li>Liên Hệ chúng tôi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact container_wrapper">
    <div class="container">
        <div class="row row-eq-height">
            <div class="contact container_wrapper">
                <div class="container">
                    <div class="row row-eq-height">


                        <!-- Map -->
                        <div class="col-xl-6 order-xl-1 order-2">
                            <div class="map" id="mapCanvas">
                            </div>
                        </div>

                        <!-- Contact Content -->
                        <div class="col-xl-6 order-xl-2 order-1">
                            <div class="contact_content">
                                <div class="contact_title">Liên hệ chúng tôi</div>
                                <div class="contact_text">
                                    <p> Chuyên Nghiệp Trong Ý Tưởng. Tổ chức dịch vụ trọn gói "full option" từ khâu lên ý tưởng đến việc tổ chức. Cam Kết Chất Lượng. Đặt Uy Tín Lên Hàng Đầu.
                                    Mọi thắc mắc hoặc cần hỗ trợ trực tiếp bạn có thể liên hệ với chúng tôi theo địa chỉ sau. Xin chân thành cảm ơn bạn đã ủng hộ chúng tôi.</p>
                                    <p>"@Html.Raw(Model.Content)"</p>
                                </div>
                                <div class="contact_list">
                                    <ul>
                                        <li>Địa chỉ @Html.Raw(Model.DiaChi)</li>
                                        <li>SĐT: @Html.Raw(Model.SDT)</li>
                                        <li>Email: @Html.Raw(Model.Email)</li>
                                    </ul>
                                </div>
                                <div class="contact_form_container bg-light">
                                    <form action="#" class="contact_form" id="contact_form">
                                        <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                                            <div><input type="text" id="txtName" class="contact_input" placeholder="Your name" required="required"></div>
                                            <div><input type="email" id="txtEmail" class="contact_input" placeholder="Your email" required="required"></div>
                                        </div>
                                        <input type="text" id="txtTieuDe" class="contact_input" placeholder="Subject">
                                        <textarea class="customTextArex" id="txtContent" rows="5" placeholder="Message"></textarea>
                                        <button id="btnSend" class="btn btn-success">send</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

