
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HomeHeader
    {
    <head>

        <title>Website tổ chức hội nghị khoa học</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Confpro template project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/bootstrap-4.1.2/bootstrap.min.css">
        <link href="/Assets/Client/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/plugins/OwlCarousel2-2.3.4/animate.css">
        <link href="/Assets/Client/plugins/" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="/Assets/Client/styles/responsive.css">
    </head>

}

@section JsFooter
    {
    <script src="/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Client/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="/Assets/Client/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TweenMax.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/Assets/Client/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/Assets/Client/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/Assets/Client/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
    <script src="/Assets/Client/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="/Assets/Client/plugins/easing/easing.js"></script>
    <script src="/Assets/Client/plugins/progressbar/progressbar.min.js"></script>
    <script src="/Assets/Client/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/Assets/Client/js/custom.js"></script>
    <script src="/Assets/Client/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/Assets/Client/js/schedule.js"></script>
}

<!-- Home -->
@{Html.RenderAction("HomeContent", "Home");}

<!-- Timer -->

@{Html.RenderAction("TimerCount", "Home");}

<!-- Intro -->
@{Html.RenderAction("TitleInfo", "Home");}


@{Html.RenderAction("TopicMenu", "Home");}



<!-- Schedule -->

@{Html.RenderAction("ScheduleMainMenu", "Home");}


<!-- Speakers -->
@{Html.RenderAction("SpeakerMenu", "Home");}

