@model Models.Framework.Account


<style>
    .CustomImage {
        width: 40px;
        height: 40px;
    }
   
</style>
<!-- Nav Item - User Information -->
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">

        @if (Model.Image != null  && Model.Image!="")
        {
            <img class="CustomImage" src="@Model.Image">
        }
        else
        {
            <img class="CustomImage" src="~/Assets/Client/images/user.png">
        }
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.UserName</span>

    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/UserProfileDetail/Index">
            <i class="fa fa-user"></i>
            Profile
        </a>
        <a class="dropdown-item" href="#">
            <i class="fa fa-lock"></i>
            Đổi mật khẩu
        </a>

        <div class="dropdown-divider"></div>

        @Html.ActionLink("Thoát", "Logout", "User", null, htmlAttributes: new { @class = "dropdown-item fa fa-backward text-gray-400 " })
    </div>
</li>
