
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Payment</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Kreon:700|Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="styles/main.css" media="screen" charset="utf-8"/> -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="content-type" content="text-html; charset=utf-8">
</head>
<style>

 

    section {
        position: relative;
        height: 280px;
        width: 90%;
        background-image: url(https://htmlpdfapi.com/uploads/images/568b96887261690f6dbe0000/content_background-concert-3.jpg?1451988615);
        background-repeat: no-repeat;
        overflow: hidden;
    }

        section .left {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            width: 400px;
            padding: 35px 0 0 60px;
        }

        section .right {
            float: right;
            width: 400px;
            padding-top: 30px;
        }

        section .event {
            margin-bottom: 40px;
            font-weight: 700;
            font-size: 1.4em;
            line-height: 35px;
            text-transform: uppercase;
        }

        section .title {
            margin-bottom: 35px;
            color: #F5A623;
            font-family: "Audiowide", cursive;
            font-size: 2em;
            line-height: 20px;
        }

        section .info {
            font-size: 0.8em;
            text-transform: uppercase;
        }

        section .seats {
            margin-bottom: 35px;
            font-size: 0.36em;
            text-transform: uppercase;
            text-align: right;
        }

            section .seats:last-child {
                margin-bottom: 0;
            }

            section .seats span {
                display: inline-block;
                width: 80px;
                margin-left: 15px;
                padding: 10px 0;
                color: #F5A623;
                background: rgba(255, 255, 255, 0.5);
                font-family: "Kreon", serif;
                font-size: 2.777em;
                text-align: center;
                vertical-align: middle;
            }

    .headerColor{
        color:royalblue;
    }
    .titleColor {
        color: royalblue;
    }
</style>

<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Assets/Client/images/about_page.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title"><h1>About us</h1></div>
                        <div class="breadcrumbs">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="index.html">Home</a></li>
                                <li>Payment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
    @using (Html.BeginForm("Payment", "Ticket", FormMethod.Post))
    {

    <div class="row">
        @{Html.RenderAction("HoiThao", "Ticket");}
        <div class="col-lg-7">
            <br />
            <br />
            <div class="container">
                <section>
                    <div class="left">
                        <div class="event">Sự kiện:@ViewBag.HoiThao.TenHoiThao</div>
                        <div class="title">@ViewBag.UserName</div>
                        <div class="info">@ViewBag.HoiThao.NgayDienRa -- @ViewBag.HoiThao.NgayDienRa</div>
                        <div class="info">@ViewBag.HoiThao.NoiDienRa</div>
                    </div>
                    <div class="right">
                        <div class="seats">section<span>A</span></div>
                        <div class="seats">row<span>Vip</span></div>
                        <div class="seats">seat<span></span></div>
                    </div>
                </section>
                <hr />
                <div class="row">
                    <div class="col-xl-10">
                        <button class="btn btn-primary" type="submit">Xác nhận</button>
                    </div>
                </div>


            </div>

        </div>
    </div>
    }
</body>
    

