@model List<Models.Framework.LoaiVe>
<div class="pricing">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center"><h1>Choose a plan</h1></div>
            </div>
        </div>
        <div class="row row-eq-height pricing_row">
            @foreach (var item in Model)
            {
                <!-- Pricing Item -->
                <div class="col-lg-4">
                    <div class="pricing_item text-center">
                        <div class="pricing_icon d-flex flex-column align-items-center justify-content-center"><img src="/Assets/Client/images/icon_5.svg" alt="https://www.flaticon.com/authors/freepik"></div>
                        <div class="pricing_title"><h3>@item.Name</h3></div>
                        <div class="pricing_price"><span>VND</span>@item.DonGia</div>
                        <div class="pricing_text">Đã bảo gồm 10%VAT</div>
                        <div class="pricing_list">
                            <ul>
                                @Html.Raw(item.content)
                            </ul>
                        </div>
                        @{
                            var session = (ConferencesManagement.Common.UserLogin)Session[ConferencesManagement.Common.CommonConstants.USER_SESSION];
                        }
                        @if (session == null)
                        {
                            <div class="button button_4 pricing_button"><a href="/login"><span>get tickets</span><img src="/Assets/Client/images/arrow.png" alt=""></a></div>
                        }
                        else
                        {
                            <div class="button button_4 pricing_button"><a href="/Ticket/Payment/@item.ID"><span>get tickets</span><img src="/Assets/Client/images/arrow.png" alt=""></a></div>
                        }

                    </div>
                </div>
            }



        </div>
    </div>
</div>

